@import "./reset.css";

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  background: #1c1d27;
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
}

.wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: 100vw;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.intro {
  display: grid;
  grid-template-rows: 120px 80px 40px;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.intro img {
  width: 110px;
}

.intro .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.1rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0;
  user-select: none;
  transform: translateX(-0%);
}

.intro .info span {
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding: 7px 0px 10px 0px;
}

.intro h1::before,
.intro h1::after {
  position: absolute;
  content: attr(data-text);
  z-index: -1;
}

.intro h1::before {
  color: #ff00c1;
  animation: glitch 3s infinite;
}

.intro h1::after {
  color: #ffe066;
  animation: glitch 2s infinite;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social a {
  transition: 0.3s;
  opacity: 0.9;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.social a:hover {
  transform: scale(1.2);
}

.social img {
  margin: 0px 10px;
  width: 20px;
}

@keyframes glitch {
  0% {
    left: -1px;
    top: -1px;
  }

  25% {
    left: 1px;
    top: 0px;
  }

  50% {
    left: -1px;
    top: 1px;
  }

  75% {
    left: 1px;
    top: -1px;
  }

  100% {
    left: 0px;
    top: -1px;
  }
}
